{% extends 'base.html' %}

{% block content %}

<h1>Welcome to Flashcards!</h1>


<div class ="add-deck">
<a href={% url 'add-deck' %}>
            <h2>Add Deck</h2>
        </a>
    </div>

{% for deck in decks %}

<div class ="deck">
 <h2>{{deck.subject}}</h2>
        <div class='minilinks-container'>
            <a class='minilinks' href={% url 'deck-delete' pk=deck.pk %}>Delete Deck</a>
        </div>


<a href = {% url 'deck-detail' pk=deck.pk %}

<h2> {{ deck.title }} </h2>

</a>
</div>



{% endfor %}
</div>
{% endblock %}



